{% extends 'layout.html' %}

{% block title %}Реєстрація{% endblock %}

{% block body %}

<div class="well">
    <form action="{{url_for('auth.register')}}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(size=64, class="form-control", id="email") }}
            <ul class="error-list">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(size=32, class="form-control", id="password") }}
            <ul class="error-list">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(size=32, class="form-control", id="confirm_password") }}
            <ul class="error-list">
                {% for error in form.confirm_password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form.first_name.label }}
            {{ form.first_name(class="form-control", id="first_name") }}
            <ul class="error-list">
                {% for error in form.first_name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form.last_name.label }}
            {{ form.last_name(class="form-control", id="last_name") }}
            <ul class="error-list">
                {% for error in form.last_name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form.speciality.label }}
            {{ form.speciality(class="form-control", id="speciality") }}
            <ul class="error-list">
                {% for error in form.speciality.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form.occupation.label }}
            {{ form.occupation(class="form-control", id="occupation") }}
            <ul class="error-list">
                {% for error in form.occupation.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="checkbox">
            <label for="terms">
                {{ form.terms(id="terms") }} {{ form.terms.label.text }}
            </label>
        </div>
        <ul class="error-list">
            {% for error in form.terms.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <div class="checkbox">
            <label for="is_medical">
                {{ form.is_medical(id="is_medical") }} {{ form.is_medical.label.text }}
            </label>
        </div>
        <ul class="error-list">
            {% for error in form.is_medical.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {{ form.submit(class="btn btn-default") }}
    </form>
</div>

{% endblock %}
