{% extends 'layout.html' %} {% block title %}Умови використання{% endblock %} {% block body %}

<div class="well page-content">
  <p><strong>Загальні умови доступу до сайту</strong></p>

  <p>
      Сайт розповсюджується у всесвітній комп'ютерній мережі Інтернет та включає в себе інформацію, 
      матеріали і дані, надані Міністерством охорони здоров’я України (далі - МОЗ України).
  </p>
  <br />

  <p>Доступ до Сайту передбачений лише Користувачам з території України.</p>
  <br />

  <p>
      Користувачем є фізична особа, зареєстрована на Сайті, є однією зі сторін цієї Угоди. 
      Доступ Користувача до Сайту (тобто введення Користувачем свого логіна і пароля в систему авторизації Сайту і авторизований вхід Користувача на Сайт) означає, 
      що Користувач приймає і зобов'язується дотримуватися всіх нижченаведених умови цієї Угоди.
  </p>
  <br />

  <p><strong>Умови</strong></p>

  <p>Користувачі гарантують, що є медичними працівниками та підтверджують достовірність зазначених при реєстрації даних.</p>
  <br />
  
  <p>Ця Угода встановлює умови та правила доступу до Сайту, в тому числі:</p>
  <br />

  <p><strong>Умови використання матеріалів, розміщених на Сайті</strong></p>
  
  <p>
      Клінічні настанови на засадах доказової медицини, розміщені на Сайті, а також інші матеріали 
      (включаючи тексти, фотозображення, ілюстрації, дизайн сайту, а також підбір, розташування і систематизація), 
      є об'єктом інтелектуальної власності і охороняються згідно з законодавством у сфері інтелектуальної власності.
  </p>
  <br />

  <p>Клінічні настанови на засадах доказової медицини розміщені на Сайті виключно з метою ознайомлення та для навчальних цілей.</p>
  <br />

  <p>
      Копіювання клінічних настанов на засадах доказової медицини, розміщених на Сайті, (включаючи запис на носії інформації), 
      відтворення (включаючи відтворення на вузлах мережі Інтернет для будь-яких цілей), переробка, поширення, 
      доведення до загального відома через мережу Інтернет чи будь-яким іншим способом, заборонено і тягне за собою відповідальність, 
      передбачену законодавством у сфері інтелектуальної власності.
  </p>
  <br />

  <p>
    Користувач зобов'язується використовувати Сайт тільки в цілях, що не суперечать чинному законодавству 
    та несе персональну відповідальність за дії при користуванні Сайтом.
  </p>
  <br />

  <p>
    У разі встановлення порушення Умов користування Сайтом, МОЗ України залишає за собою право анулювати доступ користувача до Сайту, 
    а також використовувати інші способи захисту прав. 
  </p>
</div>

<style>
  .page-content p {
    font-size: 15px;
  }
</style>

{% endblock %}
