<div class="header">
    <div class="logos-block">
        <a href="https://www.duodecim.fi/english/" target="_blank" class="duodecim-logo-link">
            <img src="/static/duodecim.png" alt="The Finnish Medical Society Duodecim" height="80px" />
        </a>
        <a href="http://moz.gov.ua/" target="_blank">
            <img src="/static/MOHLogoUa.png" alt="Міністерство Охорони Здоров'я України" height="110px" />
        </a>
    </div>
    <nav class="navigation">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="{{url_for('main.index')}}">Головна</a></li>
            <li role="presentation"><a href="{{url_for('main.documents_list')}}">Протоколи</a></li>
            {% if current_user.is_authenticated %}
                <li role="presentation"><a href="{{url_for('auth.logout')}}">Вихід</a></li>
            {% else %}
                <li role="presentation"><a href="{{url_for('auth.login')}}">Вхід</a></li>
                <li role="presentation"><a href="{{url_for('auth.register')}}">Реєстрація</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

<style>
    .logos-block {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 5px;
        flex-shrink: 1;
    }
    .duodecim-logo-link {
        margin-right: auto;
    }
    .navigation {
        display: flex;
        justify-content: flex-end;
    }
    .navigation .nav-pills li a {
        padding: 15px 20px;
    }
    .header a:hover, .header a:visited, .header a:link, .header a:active {
        text-decoration: none;
        color: black;
    }
</style>
