<div class="header clearfix">
  <a href="http://moz.gov.ua/" target="_blank" class="moz-icon-link">
      <img src="static/MOHLogoUa.png" alt="Ministy of Health" width="150px" />
  </a>
  <nav>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="{{url_for('main.index')}}">Головна</a></li>
      <li role="presentation"><a href="{{url_for('main.documents_list')}}">Документи</a></li>
      <li role="presentation"><a href="http://moz.gov.ua/" target="_blank">МОЗ</a></li>
    </ul>
  </nav>
</div>

<style>
    .header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .moz-icon-link {
        margin-right: auto;
    }
</style>
